.logo {
  display: block;
  font-size: 30px!important;
  width: 100%;
  color: #eee;
  text-align: center;
  padding: 15px!important;
  height: auto!important;
}

.item {
  display: block;
  width: 100%;
  padding: 0!important;
  text-align: center;
}

.a {
  text-align: center;
}

.aplus{
  text-align: center;
  font-size: 30px;
}
